In [9]:
#Import Library
import numpy as np
import pandas as pd

In [10]:
ds=pd.read_csv("Data.csv")
ds

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
...,...,...,...,...,...,...
887,Ta,Tara,zest,"3,10,000",NaN,NaN
888,Tata Zest XM Diesel,Tata,2018,"2,60,000","27,000 kms",Diesel
889,Mahindra Quanto C8,Mahindra,2013,"3,90,000","40,000 kms",Diesel
890,Honda Amaze 1.2 E i VTEC,Honda,2014,"1,80,000",Petrol,NaN
891,Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,"1,60,000",Petrol,NaN

In [11]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [13]:
ds["year"].unique()

array(['2007', '2006', '2018', '2014', '2015', '2012', '2013', '2016',
       '2010', '2017', '2008', '2011', '2019', '2009', '2005', '2000',
       '...', '150k', 'TOUR', '2003', 'r 15', '2004', 'Zest', '/-Rs',
       'sale', '1995', 'ara)', '2002', 'SELL', '2001', 'tion', 'odel',
       '2 bs', 'arry', 'Eon', 'o...', 'ture', 'emi', 'car', 'able', 'no.',
       'd...', 'SALE', 'digo', 'sell', 'd Ex', 'n...', 'e...', 'D...',
       ', Ac', 'go .', 'k...', 'o c4', 'zire', 'cent', 'Sumo', 'cab',
       't xe', 'EV2', 'r...', 'zest'], dtype=object)

In [14]:
ds= ds[ds["year"].str.isnumeric()]

In [15]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
Index: 842 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        842 non-null    object
 1   company     842 non-null    object
 2   year        842 non-null    object
 3   Price       842 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 46.0+ KB

In [17]:
# ds["year"]=pd.to_numeric(ds["year"])
ds.loc[:, "year"] = pd.to_numeric(ds["year"])

In [18]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
Index: 842 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        842 non-null    object
 1   company     842 non-null    object
 2   year        842 non-null    int64
 3   Price       842 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: int64(1), object(5)
memory usage: 46.0+ KB

In [31]:
ds["Price"].unique()

array([  80000.,  425000.,      nan,  325000.,  575000.,  175000.,
        190000.,  830000.,  250000.,  182000.,  315000.,  415000.,
        320000., 1000000.,  500000.,  350000.,  160000.,  310000.,
         75000.,  100000.,  290000.,   95000.,  180000.,  385000.,
        105000.,  650000.,  689999.,  448000.,  549000.,  501000.,
        489999.,  280000.,  349999.,  284999.,  345000.,  499999.,
        235000.,  249999., 1475000.,  395000.,  220000.,  170000.,
         85000.,  200000.,  570000.,  110000.,  448999., 1891111.,
        159500.,  344999.,  449999.,  865000.,  699000.,  375000.,
        224999., 1200000.,  195000.,  351000.,  240000.,   90000.,
        155000.,  600000.,  189500.,  210000.,  390000.,  135000.,
       1600000.,  701000.,  265000.,  525000.,  372000.,  635000.,
        550000.,  485000.,  329500.,  251111.,  569999.,   69999.,
        299999.,  399999.,  450000.,  270000.,  158400.,  179000.,
        125000.,  299000.,  150000.,  275000.,  285000.,  340000.,
         70000.,  289999.,  849999.,  749999.,  274999.,  984999.,
        599999.,  244999.,  474999.,  245000.,  169500.,  370000.,
        168000.,  145000.,   98500.,  209000.,  185000.,  900000.,
        699999.,  199999.,  544999.,  199000.,  540000.,   49000.,
        700000.,   55000.,  895000.,  355000.,  565000.,  365000.,
         40000.,  400000.,  330000.,  580000.,  379000.,  219000.,
        519000.,  730000., 2000000., 2100000., 1400000.,  311000.,
        855000.,  535000.,  178000.,  300000.,  255000.,  549999.,
        380000.,   57000.,  410000.,  225000.,  120000.,   59000.,
        599000.,  675000.,   72500.,  610000.,  230000.,  520000.,
        524999.,  424999.,  644999.,  584999.,  799999.,  444999.,
        649999.,  944999.,  574999.,  374999.,  130000.,  401000.,
       1350000.,  174999.,  239999.,   99999.,  324999., 1074999.,
       1130000.,  149000.,  770000.,   30000.,  335000.,  399000.,
         65000.,  169999.,  165000.,  560000.,  950000.,  715000.,
         45000.,  940000.,  155555., 1500000.,  495000.,  800000.,
       1299000.,  530000., 1499000.,   32000.,  405000.,  760000.,
        750000.,  419000.,  140000., 1540000.,  123000.,  498000.,
        480000.,  488000., 1525000.,  548900.,  725000.,   99000.,
         52000., 2800000.,  499000.,  381000.,  278000.,  690000.,
        260000.,   90001.,  115000., 1599000.,  159000.,   51999.,
        215000.,   35000., 1150000.,  269000.,   60000.,  430000.,
       8500003.,  401919.,  490000.,  424000.,  205000.,  549900.,
        435000.,  189700.,  389700.,  360000.,  295000.,  114990.,
       1065000.,  470000.,   48000.,  188000.,  465000.,  179999.,
       2190000., 2390000., 1075000.,  475000., 1025000.,  615000.,
       1900000., 1490000., 1510000., 1850000.,  790000., 1725000.,
       1225000.,   68000.,  970000., 3100000.,  899000.,   88000.,
         53000.,  568500.,   71000.,  590000.,  795000.,   42000.,
        189000.,  162000.,   35999., 2900000.,   39999.,   50500.,
        510000.,  860000.,  500001.])

In [22]:
for i in ds.index:
    price = ds.loc[i, "Price"]  
    price = price.replace(",", "") 
    ds.loc[i, "Price"] = price

In [28]:
ds.loc[:, "Price"] = pd.to_numeric(
    ds["Price"].astype(str).str.replace(",", "", regex=False),
    errors="coerce"
)

In [30]:
ds.loc[:, "Price"] = pd.to_numeric(ds["Price"])

In [33]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
Index: 842 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        842 non-null    object
 1   company     842 non-null    object
 2   year        842 non-null    int64
 3   Price       819 non-null    float64
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 78.3+ KB

In [35]:
#lets work on kms driven
ds["kms_driven"].unique()

array(['45,000 kms', '40 kms', '22,000 kms', '28,000 kms', '36,000 kms',
       '59,000 kms', '41,000 kms', '25,000 kms', '24,530 kms',
       '60,000 kms', '30,000 kms', '32,000 kms', '48,660 kms',
       '4,000 kms', '16,934 kms', '43,000 kms', '35,550 kms',
       '39,522 kms', '39,000 kms', '55,000 kms', '72,000 kms',
       '15,975 kms', '70,000 kms', '23,452 kms', '35,522 kms',
       '48,508 kms', '15,487 kms', '82,000 kms', '20,000 kms',
       '68,000 kms', '38,000 kms', '27,000 kms', '33,000 kms',
       '46,000 kms', '16,000 kms', '47,000 kms', '35,000 kms',
       '30,874 kms', '15,000 kms', '29,685 kms', '1,30,000 kms',
       '19,000 kms', nan, '54,000 kms', '13,000 kms', '38,200 kms',
       '50,000 kms', '13,500 kms', '3,600 kms', '45,863 kms',
       '60,500 kms', '12,500 kms', '18,000 kms', '13,349 kms',
       '29,000 kms', '44,000 kms', '42,000 kms', '14,000 kms',
       '49,000 kms', '36,200 kms', '51,000 kms', '1,04,000 kms',
       '33,333 kms', '33,600 kms', '5,600 kms', '7,500 kms', '26,000 kms',
       '24,330 kms', '65,480 kms', '28,028 kms', '2,00,000 kms',
       '99,000 kms', '2,800 kms', '21,000 kms', '11,000 kms',
       '66,000 kms', '3,000 kms', '7,000 kms', '38,500 kms', '37,200 kms',
       '43,200 kms', '24,800 kms', '45,872 kms', '40,000 kms',
       '11,400 kms', '97,200 kms', '52,000 kms', '31,000 kms',
       '1,75,430 kms', '37,000 kms', '65,000 kms', '3,350 kms',
       '75,000 kms', '62,000 kms', '73,000 kms', '2,200 kms',
       '54,870 kms', '34,580 kms', '97,000 kms', '60 kms', '80,200 kms',
       '3,200 kms', '0,000 kms', '5,000 kms', '588 kms', '71,200 kms',
       '1,75,400 kms', '9,300 kms', '56,758 kms', '10,000 kms',
       '56,450 kms', '56,000 kms', '32,700 kms', '9,000 kms', '73 kms',
       '1,60,000 kms', '84,000 kms', '58,559 kms', '57,000 kms',
       '1,70,000 kms', '80,000 kms', '6,821 kms', '23,000 kms',
       '34,000 kms', '1,800 kms', '4,00,000 kms', '48,000 kms',
       '90,000 kms', '12,000 kms', '69,900 kms', '1,66,000 kms',
       '122 kms', '0 kms', '24,000 kms', '36,469 kms', '7,800 kms',
       '24,695 kms', '15,141 kms', '59,910 kms', '1,00,000 kms',
       '4,500 kms', '1,29,000 kms', '300 kms', '1,31,000 kms',
       '1,11,111 kms', '59,466 kms', '25,500 kms', '44,005 kms',
       '2,110 kms', '43,222 kms', '1,00,200 kms', '65 kms',
       '1,40,000 kms', '1,03,553 kms', '58,000 kms', '1,20,000 kms',
       '49,800 kms', '100 kms', '81,876 kms', '6,020 kms', '55,700 kms',
       '18,500 kms', '1,80,000 kms', '53,000 kms', '35,500 kms',
       '22,134 kms', '1,000 kms', '8,500 kms', '87,000 kms', '6,000 kms',
       '15,574 kms', '8,000 kms', '55,800 kms', '56,400 kms',
       '72,160 kms', '11,500 kms', '1,33,000 kms', '2,000 kms',
       '88,000 kms', '65,422 kms', '1,17,000 kms', '1,50,000 kms',
       '10,750 kms', '6,800 kms', '5 kms', '9,800 kms', '57,923 kms',
       '30,201 kms', '6,200 kms', '37,518 kms', '24,652 kms', '383 kms',
       '95,000 kms', '3,528 kms', '52,500 kms', '47,900 kms',
       '52,800 kms', '1,95,000 kms', '48,008 kms', '48,247 kms',
       '9,400 kms', '64,000 kms', '2,137 kms', '10,544 kms', '49,500 kms',
       '1,47,000 kms', '90,001 kms', '48,006 kms', '74,000 kms',
       '85,000 kms', '29,500 kms', '39,700 kms', '67,000 kms',
       '19,336 kms', '60,105 kms', '45,933 kms', '1,02,563 kms',
       '28,600 kms', '41,800 kms', '1,16,000 kms', '42,590 kms',
       '7,400 kms', '54,500 kms', '76,000 kms', '00 kms', '11,523 kms',
       '38,600 kms', '95,500 kms', '37,458 kms', '85,960 kms',
       '12,516 kms', '30,600 kms', '2,550 kms', '62,500 kms',
       '69,000 kms', '28,400 kms', '68,485 kms', '3,500 kms',
       '85,455 kms', '63,000 kms', '1,600 kms', '77,000 kms',
       '26,500 kms', '2,875 kms', '13,900 kms', '1,500 kms', '2,450 kms',
       '1,625 kms', '33,400 kms', '60,123 kms', '38,900 kms',
       '1,37,495 kms', '91,200 kms', '1,46,000 kms', '1,00,800 kms',
       '2,100 kms', '2,500 kms', '1,32,000 kms', 'Petrol'], dtype=object)

In [41]:
# Ensure the DataFrame is clean and avoid SettingWithCopyWarning
ds = ds.copy()

# Clean the 'kms_driven' column
ds["kms_driven"] = (
    ds["kms_driven"]
    .astype(str)  # Convert all values to strings
    .str.replace(",", "", regex=False)  # Remove commas
    .str.replace(" kms", "", regex=False)  # Remove ' kms'
)

# Convert the cleaned column to numeric (NaN for invalid entries)
ds["kms_driven"] = pd.to_numeric(ds["kms_driven"], errors="coerce")

In [42]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
Index: 842 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        842 non-null    object
 1   company     842 non-null    object
 2   year        842 non-null    int64
 3   Price       819 non-null    float64
 4   kms_driven  838 non-null    float64
 5   fuel_type   837 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 78.3+ KB

In [49]:
for i in ds.index:
    kms_driven=ds.loc[i,"kms_driven"]
    if kms_driven<1000:
        ds.drop(i,inplace=True)

In [50]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
Index: 821 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        821 non-null    object
 1   company     821 non-null    object
 2   year        821 non-null    int64
 3   Price       800 non-null    float64
 4   kms_driven  817 non-null    float64
 5   fuel_type   816 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 77.2+ KB

In [53]:
ds["fuel_type"].unique()

array(['Petrol', 'Diesel', 'LPG'], dtype=object)

In [52]:
ds.dropna(inplace=True)

In [54]:
ds["company"].unique()

array(['Hyundai', 'Ford', 'Maruti', 'Skoda', 'Mahindra', 'Audi', 'Toyota',
       'Renault', 'Honda', 'Datsun', 'Mitsubishi', 'Tata', 'Volkswagen',
       'Chevrolet', 'Mini', 'BMW', 'Nissan', 'Hindustan', 'Fiat', 'Force',
       'Mercedes', 'Land', 'Jaguar', 'Jeep', 'Volvo'], dtype=object)

In [61]:
ds["name"].unique()

array(['Santro Xing XO eRLX Euro III', 'Grand i10 Magna 1.2 Kappa VTVT',
       'EcoSport Titanium 1.5L TDCi', 'Figo', 'Eon',
       'EcoSport Ambiente 1.5L TDCi', 'Suzuki Alto K10 VXi AMT',
       'Fabia Classic 1.2 MPI', 'Suzuki Stingray VXi',
       'Elite i20 Magna 1.2', 'Scorpio SLE BS IV', 'A8', 'Q7',
       'Scorpio S10', 'Suzuki Alto 800', 'Suzuki Alto 800 Vxi',
       'i20 Sportz 1.2', 'Suzuki Alto 800 Lx', 'Suzuki Vitara Brezza ZDi',
       'Suzuki Alto LX', 'Bolero DI', 'Suzuki Swift Dzire ZDi',
       'Scorpio S10 4WD', 'Suzuki Swift Vdi BSIII',
       'Suzuki Wagon R VXi BS III', 'Suzuki Wagon R VXi Minor',
       'Innova 2.0 G 8 STR BS IV', 'Lodgy 85 PS RXL',
       'Yeti Ambition 2.0 TDI CR 4x2', 'Suzuki Baleno Delta 1.2',
       'Duster 110 PS RxZ Diesel Plus', 'Duster 85 PS RxE Diesel',
       'City 1.5 S MT', 'Suzuki Dzire', 'Amaze', 'Amaze 1.5 SX i DTEC',
       'City', 'Redi GO S', 'Suzuki SX4 ZXI MT',
       'Pajero Sport Limited Edition', 'Suzuki Swift VXi 1.2 ABS BS IV',
       'City ZX CVT', 'Suzuki Wagon R LX BS IV',
       'Indigo eCS LS CR4 BS IV', 'Polo Highline Exquisite P',
       'Spark LS 1.0', 'Duster 110PS Diesel RxZ', 'Cooper S 1.6',
       'Fabia 1.2L Diesel Ambiente', 'Duster', 'Scorpio S4',
       'Scorpio VLX 2WD BS IV', 'Quanto C8', 'EcoSport', 'Brio',
       'Vento Highline Plus 1.5 Diesel AT', 'i20 Magna',
       'Corolla Altis Diesel D4DG', 'Verna Transform SX VTVT',
       'Corolla Altis Petrol Ltd', 'City 1.5 EXi New',
       'Fabia 1.2L Diesel Elegance', '3 Series 320i', 'Suzuki A Star Lxi',
       'Etios GD', 'Figo Diesel EXI Option',
       'Suzuki Swift Dzire VXi 1.2 BS IV', 'Beat LT Diesel',
       '7 Series 740Li Sedan', 'XUV500 W8 AWD 2013', 'i10 Magna 1.2',
       'Verna Fluidic New', 'Suzuki Swift VXi 1.2 BS IV',
       'Suzuki Ertiga ZXI Plus', 'Suzuki Ertiga Vxi', 'Suzuki Ertiga VDi',
       'Suzuki Alto LXi BS III', 'Grand i10 Asta 1.1 CRDi',
       'Amaze 1.2 S i VTEC', 'i20 Asta 1.4 CRDI 6 Speed',
       'Figo Diesel EXI', 'Suzuki Eeco 5 STR WITH AC HTR',
       'Suzuki Ertiga ZXi', 'Suzuki Esteem LXi BS III', 'Suzuki Ritz VXI',
       'Suzuki Ritz LDi', 'Suzuki Dzire VDI', 'Etios Liva G',
       'i20 Sportz 1.4 CRDI', 'Spark', 'Micra XV', 'Suzuki Swift',
       'Amaze 1.5 S i DTEC', 'Beat', 'City 1.5 V MT',
       'EcoSport Trend 1.5L TDCi', 'i20 Asta 1.2', 'Indica V2 eLS',
       'Motors Ambassador', 'Corolla Altis 1.8 GL', 'Corolla Altis 1.8 J',
       'Innova 2.5 GX BS IV 7 STR', 'Jetta Highline TDI AT',
       'Polo Comfortline 1.2L P', 'Polo', 'Scorpio', 'Sunny', 'Elite i20',
       'Kwid', 'Scorpio VLX Airbag', 'Suzuki Alto 800 Lxi',
       'Spark LT 1.0', 'Redi GO T O', 'Suzuki Swift RS VDI',
       'Punto Emotion 1.2', 'i10 Sportz 1.2', 'Beat LT Opt Diesel',
       'Beat LS Diesel', 'Indigo CS', 'Suzuki Swift VDi', 'Eon Era Plus',
       'XUV500', 'Fiesta', 'Suzuki Wagon R', 'i20',
       'Indigo eCS LX TDI BS III', 'Fluidic Verna 1.6 CRDi SX',
       'Petra ELX 1.2 PS', 'Santro Xing XS', 'Suzuki Ciaz VXi Plus',
       'Suzuki Zen VX', 'Creta 1.6 SX Plus Petrol', 'Scorpio SLX',
       'Innova 2.5 G BS III 8 STR', 'Suzuki Wagon R LXI BS IV',
       'Nano Cx BSIV', 'Suzuki Alto Std BS IV',
       'Suzuki Wagon R LXi BS III', 'Suzuki Swift VXI BSIII',
       'Sumo Victa EX 10 by 7 Str BSIII', 'Passat Diesel Comfortline AT',
       'Scala RxL Diesel Travelogue', 'Grand i10 Sportz O 1.2 Kappa VTVT',
       'i20 Active 1.2 SX', 'Xylo E4', 'Bolero SLE BS IV',
       'Motors One LX ABS 7 STR', 'Suzuki SX4', 'Etios', 'City ZX VTEC',
       'Suzuki Wagon R LX BS III', 'City VX O MT Diesel',
       'Thar CRDe 4x4 AC', 'A4 1.8 TFSI Multitronic Premium Plus',
       'Benz GLA Class 200 CDI Sport', 'Rover Freelander 2 SE',
       'Kwid RXT', 'Aria Pleasure 4X2', 'Benz B Class B180 Sports',
       'GO T O', 'Jazz VX MT', 'i20 Active 1.4L SX O', 'Cooper S',
       'Suzuki Ciaz ZXI Plus', 'Tavera Neo', 'Eon Sportz',
       'Sumo Gold Select Variant', 'Suzuki Wagon R 1.0',
       'Suzuki Esteem VXi BS III', 'Enjoy 1.4 LS 8 STR',
       'Suzuki Wagon R 1.0 VXi', 'Terrano XL D Plus',
       'Duster 85 PS RxL Diesel', 'Suzuki Dzire ZXI', 'Kwid RXT Opt',
       'Suzuki 800 Std', 'Kwid 1.0 RXT AMT', 'Scala RxL Diesel',
       'Grand i10 Asta 1.2 Kappa VTVT O', 'Beat LS Petrol', 'Accent GLX',
       'TUV300 T4 Plus', 'Indica V2 Xeta e GLE', 'Indigo CS LS DiCOR',
       'Scorpio VLX Special Edition BS III', 'Accord',
       'EcoSport Titanium 1.5 TDCi', 'Suzuki Ertiga', 'Scorpio 2.6 CRDe',
       'Mobilio', 'Corolla Altis', 'Laura', 'Verna Fluidic',
       'Suzuki Vitara Brezza', 'Manza Aura Quadrajet',
       'Sail UVA Petrol LT ABS', 'Verna Fluidic 1.6 VTVT SX',
       'A4 2.0 TDI 177bhp Premium', 'Elantra SX',
       'Scorpio VLX 4WD Airbag', 'KUV100 K8 D 6 STR', 'Grand i10', 'i10',
       'i20 Active', 'Redi GO', 'Etios Liva', 'Accent', 'Verna',
       'Fortuner', 'i10 Sportz', 'Bolero Power Plus SLE',
       'City 1.5 V MT Exclusive', 'Spark LT 1.0 Airbag',
       'Indigo eCS VX CR4 BS IV', 'Rapid Elegance 1.6 TDI CR MT',
       'Vista Quadrajet VX', 'Suzuki Alto K10 VXi AT',
       'Suzuki Zen LXi BS III', 'Suzuki Swift Dzire Tour LDi',
       'City ZX EXi', 'Beat Diesel', 'Verna 1.4 VTVT',
       'Suzuki 800 Std – Befo', 'Elite i20 Asta 1.4 CRDI',
       'Suzuki Versa DX2 8 SEATER BSIII', 'Indigo LX TDI BS III',
       'Vento Konekt Diesel Highline', 'Benz C Class 200 CDI Classic',
       'Santro Xing GLS', 'Suzuki Omni Limited Edition',
       'Sonata Transform 2.4 GDi MT', 'Elite i20 Sportz 1.2', 'Jazz S MT',
       'Grand i10 Sportz 1.2 Kappa VTVT', 'Suzuki Zen LXi BSII',
       'Scorpio W Turbo 2.6DX 9 Seater', 'Suzuki Alto K10 VXi',
       'Grand i10 Asta 1.2 Kappa VTVT', 'XUV500 W8', 'i20 Magna O 1.2',
       'Duster 85 PS RxL Explore LE', 'Brio V MT', 'TUV300 T8',
       'Ikon 1.3 CLXi NXt Finesse', 'Fortuner 3.0 4x4 MT',
       'Manza ELAN Quadrajet', 'Benz A Class A 180 Sport Petrol',
       'Indigo LS', 'i20 Magna 1.2', 'Amaze 1.5 E i DTEC',
       'Verna 1.6 EX VTVT', '5 Series 520d Sedan', 'Superb 1.8 TFSI AT',
       'Q3 2.0 TDI quattro Premium', 'Bolero DI BSII',
       'Figo Duratorq Diesel Titanium 1.4', 'Suzuki Wagon R VXI BS IV',
       'Logan Diesel 1.5 DLS', 'Nano GenX XMA', 'City SV',
       'Figo Petrol LXI', 'i10 Magna 1.2 Kappa2', 'Corolla H2',
       'Indigo CS eLS BS IV', 'Xcent Base 1.1 CRDi',
       'Accent Executive Edition', 'Zest XE 75 PS Diesel',
       'Suzuki Dzire LDI', 'Sumo Gold LX BS IV',
       'Corolla Altis GL Petrol', 'Suzuki Eeco 7 STR',
       'Fortuner 3.0 4x2 MT', 'XUV500 W6', 'Suzuki 800',
       'Mobilio S i DTEC', 'Verna 1.6 CRDI E',
       'Suzuki Omni Select Variant', 'Indica', 'Santro Xing',
       'Suzuki Zen Estilo', 'Brio VX AT',
       'Suzuki Zen Estilo LXI Green CNG', 'Suzuki Wagon R Select Variant',
       'Nano Lx BSIV', 'XE XE Portfolio', 'Eon Magna Plus',
       'Suzuki Ritz GENUS VXI', 'Grand i10 Magna AT 1.2 Kappa VTVT',
       'Eon D Lite Plus', 'Amaze 1.2 VX i VTEC',
       'Suzuki Estilo VXi ABS BS IV', 'Suzuki Vitara Brezza LDi O',
       'Creta 1.6 SX Plus Petrol AT', 'Scorpio Vlx BSIV',
       'Lancer 1.8 LXi', 'Suzuki 800 AC', 'Suzuki Alto 800 LXI CNG O',
       'Fiesta SXi 1.6 ABS', 'Suzuki Ritz VDi', 'Suzuki Estilo LX BS IV',
       'A6 2.0 TDI Premium', 'Suzuki Alto', 'Suzuki Baleno Sigma 1.2',
       'Verna 1.6 SX VTVT AT', 'Suzuki Swift GLAM', 'Getz Prime 1.3 GVS',
       'Santro', 'Getz Prime 1.3 GLX', 'Beat PS Diesel',
       'EcoSport Trend 1.5 Ti VCT', 'Indica V2 DLG', 'X1 xDrive20d xLine',
       'City 1.5 V AT', 'Nano', 'Cruze LTZ AT', 'Suzuki Swift Dzire VDi',
       'XUV500 W10', 'Suzuki Alto K10 LXi CNG', 'Accent GLE',
       'Motors One SUV', 'Spark 1.0 LT', 'Etios Liva GD',
       'Duster 85PS Diesel RxL Optional with Nav', 'Enjoy',
       '5 Series 530i', 'Cruze LTZ', 'Wrangler Unlimited 4x4 Diesel',
       'Verna VGT CRDi SX ABS', 'Suzuki Omni', 'Suzuki Celerio VDi',
       'Zest Quadrajet 1.3', 'Indigo CS eLX BS IV', 'i10 Era',
       'Indigo eCS LX CR4 BS IV', 'Indigo Marina LS', 'Xcent SX 1.2',
       'Nano LX Special Edition', 'Duster 110 PS RxZ Diesel',
       'Suzuki Wagon R AX BSIV', 'Suzuki Alto K10 New', 'Xylo E8',
       'Manza Aqua Quadrajet', 'Kwid 1.0', 'Venture EX 8 STR',
       'Suzuki Swift Dzire Tour LXi', 'Octavia Classic 1.9 TDI MT',
       'Suzuki Omni LPG BS IV', 'Sumo Gold EX BS IV', 'Verna 1.6 CRDI SX',
       'Scorpio SLX 2.6 Turbo 8 Str', 'Ikon 1.6 Nxt',
       'Innova 2.5 V 7 STR', 'Sunny XL', 'Suzuki Swift VDi BS IV',
       'Innova 2.0 G4', 'Suzuki Swift VDi ABS', 'Elite i20 Asta 1.2',
       'Polo Trendline 1.5L D', 'Etios Liva Diesel',
       'Suzuki Ciaz ZXi Plus RS', 'Elantra 1.8 S',
       'EcoSport Trend 1.5L Ti VCT', 'Indica eV2 LS',
       'XF 2.2 Diesel Luxury', 'Q5 2.0 TDI quattro Premium Plus',
       '3 Series 320d Sedan', 'Suzuki Swift ZXi 1.2 BS IV',
       'X1 sDrive20d', 'Suzuki S Cross Sigma 1.3', 'Suzuki Ertiga LDi',
       'Vento Comfortline Petrol', 'KUV100',
       'Suzuki Swift Dzire Tour VDi', 'Scorpio 2.6 SLX',
       'Suzuki Omni 8 STR BS III', 'Jetta Comfortline 1.9 TDI AT',
       'S80 Summum D4', 'Corolla Altis VL AT Petrol',
       'Pajero Sport 2.5 AT', 'Beat LT Petrol', 'X1',
       'Benz C Class C 220 CDI Avantgarde', 'Vento Comfortline Diesel',
       'Indigo CS GLS', 'City ZX GXi', 'Suzuki Wagon R Duo Lxi',
       'Suzuki Zen LX BSII', 'Duster RxL Petrol',
       'Suzuki Baleno Zeta 1.2', 'WR V S MT Petrol',
       'Duster 110 PS RxL Diesel', 'Scorpio LX BS III',
       'Suzuki SX4 Celebration Diesel', 'A3 Cabriolet 40 TFSI',
       'Santro AE GLS Audio', 'Xylo D2 BS IV', 'Getz GLE',
       'Santro Xing XL AT eRLX Euro III', 'Santro Xing XL eRLX Euro III',
       'Indica V2 DLS BS III', 'City 1.5 E MT', 'Micra XL',
       'City 1.5 S Inspire', 'Indica eV2 eXeta eGLX',
       'Suzuki Omni E 8 STR BS IV', 'Suzuki Swift LDi',
       'Verna 1.6 CRDI SX Plus AT', 'Tavera LS B3 10 Seats BSII',
       'Tiago Revotron XM', 'Motors Ambassador Classic Mark 4 – Befo',
       'Fusion 1.4 TDCi Diesel', 'Linea Emotion 1.4 L T Jet Petrol',
       'Ikon 1.3 Flair Josh 100', 'Indica V2 LS', 'Xylo D2', 'Corolla',
       'Eon Magna', 'Sumo Grande MKII GX', 'Polo Highline1.2L P',
       'Tiago Revotron XZ', 'Indigo eCS', 'Xylo E8 BS IV',
       'Sumo Gold FX BSIII', 'Creta', 'Bolt XM Petrol', 'Suzuki Ritz',
       'i20 Asta', 'Suzuki Swift Select Variant', 'Indica V2 DLX BS III',
       'Scorpio VLX 2.2 mHawk Airbag BSIV', 'Innova 2.5 E 8 STR',
       'KUV100 K8 6 STR', 'Go Plus', 'Endeavor 4x4 Thunder Plus',
       'Indica V2', 'Santro Xing GL', 'Innova 2.5 Z Diesel 7 Seater',
       'Suzuki Alto AX', 'Logan', 'Suzuki 800 Std BS III', 'Sail 1.2 LS',
       'Manza', 'Etios G', 'Qualis', 'Quanto C4', 'Suzuki Swift Dzire',
       'i20 Select Variant', 'City VX Petrol', 'Getz',
       'Benz C Class 200 K MT', 'Fabia', 'Suzuki Ritz VXI ABS',
       'Indica V2 DLE BS III', 'Zest XM Diesel'], dtype=object)

In [60]:
for i in ds.index:
    name = ds.loc[i, "name"]  # Use loc for mixed indexing (row + column)
    company = ds.loc[i, "company"]
    
    # Ensure 'name' and 'company' are strings to avoid attribute errors
    name = str(name)
    company = str(company)
    
    # Remove the company name from the 'name' column if it exists
    name = name.replace(company + " ", "")
    ds.loc[i, "name"] = name

In [62]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
Index: 797 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        797 non-null    object
 1   company     797 non-null    object
 2   year        797 non-null    int64
 3   Price       797 non-null    float64
 4   kms_driven  797 non-null    float64
 5   fuel_type   797 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 75.9+ KB

In [63]:
ds.duplicated()

0      False
3      False
4      False
6      False
7      False
       ...
883    False
885    False
886    False
888    False
889    False
Length: 797, dtype: bool

In [65]:
ds.drop_duplicates(inplace=True)

In [66]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
Index: 709 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        709 non-null    object
 1   company     709 non-null    object
 2   year        709 non-null    int64
 3   Price       709 non-null    float64
 4   kms_driven  709 non-null    float64
 5   fuel_type   709 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 38.8+ KB

In [67]:
ds.to_csv("clean_data.csv")